.cartPopUp {
  display: "block" !important;
}
.cartIconButton {
  transition: all 0.3s ease !important;
}
.cartIconButton:hover {
  transform: scale(1.1);
}

.MuiBadge-badge {
  border-color: #274e13 !important;
  /* background-color: #000 !important; */
}
