html {
  width: 100vw;
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  font-family: "Roboto", sans-serif;

  text-align: center;
}

.body {
  font-family: "Roboto", sans-serif;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.imgPrincipal {
  width: 100vw;
  height: 30vh;
  max-height: calc(100vh - 100px);
  object-fit: cover;
}

.contenedorBkg {
  height: 100vh;
  display: flex;
  justify-content: right;
  position: absolute;
  top: 0;
  right: 0;
  position: fixed;
}
.imgLateral {
  max-width: 100vw;
  height: 100vh;
  position: fixed;

  opacity: 0.1;
}

.item {
  width: 100%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.navBar {
  background-color: transparent !important;
  backdrop-filter: blur(20px);
  opacity: 1;
  position: fixed;
  box-sizing: content-box;
}

.navItem {
  margin-right: 15px;
  display: flex;
}
.navItem,
.cartIcon {
  font: 20px bold;
  color: #d4d3d3 !important;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease; /* Ajusta la duración y la función de temporización según tus preferencias */
  margin-top: 8px;
}
.navItem:visited {
  color: #fff;
}

.active {
  font: 25px bold white !important;
  color: #fff !important;
  font-weight: 900;
  margin-top: 5px;
}

.navItem:hover {
  transform: scale(1.1);
}

.modeButton {
  z-index: 10000 !important;
  position: fixed !important;
  width: 50px;
  height: 60px;
  top: 3px;
  right: 0;
}

@media (min-width: 600px) {
  .modeButton {
    left: 0; /* o right: 0; según tus necesidades */
  }
}

.contAos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;

  /* margin-top: 100px;  */
}

.cardContentList {
  width: 100%;
  display: flex;
  position: relative;
  background-color: transparent !important;
  backdrop-filter: blur(5px);
  border-radius: 20px !important;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.cardItem {
  transition: all 0.3s ease !important;
  /* box-shadow: 1px 0px 10px 2px rgba(0, 0, 0, 0.25) !important; */
  position: relative !important;
  width: 300px;
}

.cardItem:hover {
  transform: scale(1.05);
  z-index: 99 !important;
}

.bla {
  padding: 0 !important;
}
